.btn{
    text-transform:uppercase;
    background:var(--clr-primary-5);
    color:var(--clr-white);
    padding:1rem 1.6rem;
    letter-spacing:var(--spacing);
    display:inline-block;
    transition:0.6s all;
    font-size:1.6rem;
    font-weight:500;
    cursor:pointer;
    box-shadow:0 0.1rem 0.3rem rgba(0,0,0,0.2);
    
    &:hover,&:active{
       background:var(--clr-primary-8);
       letter-spacing:0.5rem;
       transform:scale(1.1);
       color:var(--clr-primary-3);
       
    }
   
    

}