.card{
    padding:9.6rem 0;
    &__items{ 
        @include device(phone){
            display:flex;
            flex-wrap:wrap;
            justify-content: space-between;   
            gap:2rem;   
        }  
    }
    &__box{ 
        margin-bottom: 3.2rem;      
        background:var(--clr-grey-10);    
        transition: .6s all;
        box-shadow:0 0 .5rem rgba(0,0,0,0.2);
        overflow: hidden;
        border-radius:.6rem;
        @media screen and (min-width: 768px){
            flex:0 0 calc(50% - 3rem);   
        }
        @include device(laptop){
            flex:0 0 calc(33% - 3rem);  
        }
        &:hover{
            transform:scale(1.02);
            box-shadow:0 0 1rem rgba(0,0,0,0.4);
        }      
    }
    &__imgbox{     
        position:relative;
    }
    &__img{
        width:100%;
        object-fit: cover;
    }
    &__date{
        position:absolute;
        bottom:.6rem;
        right:0;
        z-index:2;
        background:var(--clr-primary-7);
        padding:.3rem 1rem;
    }
    &__info{      
        margin:1rem 2rem;       
    }
    &__header{
        letter-spacing:var(--spacing);
        font-size:1.7rem;
    }
    &__text{
        color:var(--clr-grey-5);
        padding-top:1rem;
        font-size:1.4rem;
    }
    &__footer{
        display:flex;  
        align-items: center;
        color:var(--clr-primary-4);
        justify-content: space-between;
        margin:2rem 0;
    }    
    &__btnbox{
        text-align:center;
         
    }
}