.services{
    background:var(--clr-grey-10);
    padding:9.6rem 0;
    
    
    
    &__items{
        text-align: center;
        
        @include device(phone){
            display:flex;
            justify-content: space-between;
            flex-wrap:wrap;
            gap:1rem;
   
        }
       
        
        
    }
    &__box{
        text-align: center;
        margin-bottom:3rem;
        @include device(phone){
            flex:0 0 calc(50% - 1rem);    
        }
        @include device(small__tab)  {
            
            flex:0 0 calc(33.333% - 1rem);
            display:flex;
            align-items: center;
            text-align: left;
            gap:2rem;
             
             
        }
       
    }
    &__iconbox{
        background: var(--clr-primary-2);
        padding:.5rem 1rem;
        display:inline-block;
        margin-bottom:2rem;
        font-size:3rem; 
        @include device(small__tab){
          align-self: start;
          margin:.5rem;
           
       
         }
    }
    
    
    

    &__title{
        font-size:1.7rem;
        margin-bottom:1rem;
        letter-spacing:var(--spacing);


    }
    &__text{
        color:var(--clr-grey-5);
        max-width:30rem;
        margin:0 auto;
        
    }
}